Div {
  width: 200px;
  height: 200px;
  background-color: #eee;
  margin: 200px auto;
  color: black;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
}

div::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  border-top: 10px #ff00ff solid;
  border-right: #ff00ff solid 10px;
  border-bottom: 10px #ff00ff solid;
  border-left: 10px #ffffff solid;
  border-radius: 50%;
  transition: 0.5s;
 }

div::after {
  content: "";
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -2;
  border-top: 10px blue solid;
  border-left: blue solid 10px;
  border-bottom: 10px blue solid;
  border-right: 10px white solid;
  border-radius: 50%;
  transition: .5s;
 }

div:hover::before {
transform: rotate(360deg);
 }

div:hover::after {
transform: rotate(1turn);
 }